@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');

body {
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 30px;
    align-items: center;
    justify-content: center;
    font-family: 'Figtree', sans-serif;

}
.container {
    background-color: white;
    height: 460px;
    max-width: 320px;
    width:90%;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 0px 2px #000000;
    border: 1px solid black;
}
.imgdesign {
    width: 100%;
    border-radius: 10px;
    height: auto;
}
.published{
    margin-top: 0;
    font-size: 16px;
}
.box {
    background-color: hsl(47, 88%, 63%);
    padding: 6px 15px;
    border-radius: 5px;
    width: fit-content;
    font-weight: 800;
    margin-bottom: 10px;
}
h1 {
    font-size: 24px;
    font-weight: 800;
    color: hsl(0, 0%, 7%);
}
.desc{
    font-size: 16px;
    line-height: 1.5;
    color: hsl(0, 0%, 42%);
}
.profile {
    display: flex;
    font-weight: 800;
    gap:8px;
    align-items: center;
    font-size: 12px;
    color: hsl(0, 0%, 7%);;
}
.profile img{
    width: 30px;
    height: 30px;
}
.challenge {
    margin: 20px;
    font-size: 10px;
}

@media (max-width: 375px) {
    h1 {
        font-size: 18px;
    }
    p {
        font-size: 14px;
    }
}